# Map, Filter and Lambda in Python Lab

## Objectives
* Apply and combine the skills covered for map and filter functions
* Learn how to write and use lambda functions for transforming data
* Modify given data using map and lambda functions as an alternative to writing for loops
* Filter given data using filter function to only include the data that meets a given criteria

### Introduction

In this lab, we'll put our new knowledge about `map` and `filter` to the test. We'll also introduce `lambda` functions as a convenient tool for transforming data on the fly. As a test case, we'll be working with Yelp data again. Let's get started!

### Lambda functions

Recall that `map` applies a given function to every element of an iterable. Previously, you've seen `map` used with a variety of built-in Python functions. As you begin to work with more complicated data, you may need to use a custom function that performs a unique task for which there is no built-in Python function. This is exactly what `lambda` functions are used for. 

Say you wanted to add 5 to every element in the list of numbers shown below:

In [1]:
# List of numbers
numbers = [1, 3, 8, 9, 11, 20]
numbers

[1, 3, 8, 9, 11, 20]

Unfortunately, you can't use the addition operator as this results in a `TypeError`:

In [2]:
numbers + 5

TypeError: can only concatenate list (not "int") to list

If there were a built-in Python function to add 5, you might just use that function with `map` to apply it to all of the numbers in the list. But, sadly, no such function exists. The good news is that `lambda` can be used to define a custom function that adds 5! The syntax for defining a lambda function that adds 5 is shown below:

```python
lambda x: x + 5
```

As you might have guessed, `x` here is a variable and the `lambda` function simply adds 5 to it. Now that you understand how to write `lambda` functions, use `map` to apply the `lambda` function above to add 5 to every number in the `numbers` list.

In [3]:
list(map(lambda x: x + 5, numbers))

[6, 8, 13, 14, 16, 25]

Note that you don't always have to use `x` as the variable. You can define the variable with any name you want as long as the syntax is correct!

The cool thing is that `lambda` functions are *customizable*. They are not just limited to numeric applications. You'll see how `lambda` functions can be used to transform text data below with the Yelp data set.

### Yelp data

Now that you've been introduced to `lambda`, you can practice using it with `map` and `filter` to handle some real-world data. Let's start with the Yelp restaurants data set. The code below uses `lambda` to create a dictionary consisting of 4 keys: `name`, `price`, `is_closed`, and `review_count`. The `map` function is then used to apply the `lambda` function to every restaurant in the data set.

In [9]:
from restaurants import yelp_restaurants # in this line we are simply importing our data we gathered from Yelp.
yelp_restaurants

[{'id': 'fork-and-fig-albuquerque',
  'name': 'Fork & Fig',
  'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/_-DpXKfS3jv6DyA47g6Fxg/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/fork-and-fig-albuquerque?adjust_creative=SYc8R4Gowqru5h4SBKZXsQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SYc8R4Gowqru5h4SBKZXsQ',
  'review_count': 610,
  'categories': [{'alias': 'burgers', 'title': 'Burgers'},
   {'alias': 'sandwiches', 'title': 'Sandwiches'},
   {'alias': 'salad', 'title': 'Salad'}],
  'rating': 4.5,
  'coordinates': {'latitude': 35.10871, 'longitude': -106.56739},
  'transactions': [],
  'price': '$$',
  'location': {'address1': '6904 Menaul Blvd NE',
   'address2': 'Ste C',
   'address3': '',
   'city': 'Albuquerque',
   'zip_code': '87110',
   'country': 'US',
   'state': 'NM',
   'display_address': ['6904 Menaul Blvd NE',
    'Ste C',
    'Albuquerque, NM 87110']},
  'phone': '+15058815293',
  'display_phone': '(505) 881-5293',
  'distance': 3571.724649307866},
 {'id': 'salt-and-board-albuquerque-4',
  'name': 'Salt And Board',
  'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/wXUdc0JpE1zfu5hQL7FgEA/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/salt-and-board-albuquerque-4?adjust_creative=SYc8R4Gowqru5h4SBKZXsQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SYc8R4Gowqru5h4SBKZXsQ',
  'review_count': 11,
  'categories': [{'alias': 'gastropubs', 'title': 'Gastropubs'}],
  'rating': 4.5,
  'coordinates': {'latitude': 35.08024, 'longitude': -106.62102},
  'transactions': [],
  'price': '$$',
  'location': {'address1': '115 Harvard Dr SE',
   'address2': 'Ste 9',
   'address3': None,
   'city': 'Albuquerque',
   'zip_code': '87106',
   'country': 'US',
   'state': 'NM',
   'display_address': ['115 Harvard Dr SE', 'Ste 9', 'Albuquerque, NM 87106']},
  'phone': '+15052192001',
  'display_phone': '(505) 219-2001',
  'distance': 4150.24879173833},
 {'id': 'frontier-restaurant-albuquerque-2',
  'name': 'Frontier Restaurant',
  'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/M9L2z6-G0NobuDJ6YTh6VA/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/frontier-restaurant-albuquerque-2?adjust_creative=SYc8R4Gowqru5h4SBKZXsQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SYc8R4Gowqru5h4SBKZXsQ',
  'review_count': 1373,
  'categories': [{'alias': 'mexican', 'title': 'Mexican'},
   {'alias': 'diners', 'title': 'Diners'},
   {'alias': 'tradamerican', 'title': 'American (Traditional)'}],
  'rating': 4.0,
  'coordinates': {'latitude': 35.0808088832532,
   'longitude': -106.619402244687},
  'transactions': [],
  'price': '$',
  'location': {'address1': '2400 Central Ave SE',
   'address2': '',
   'address3': '',
   'city': 'Albuquerque',
   'zip_code': '87106',
   'country': 'US',
   'state': 'NM',
   'display_address': ['2400 Central Ave SE', 'Albuquerque, NM 87106']},
  'phone': '+15052660550',
  'display_phone': '(505) 266-0550',
  'distance': 4033.6583235266075},
 {'id': 'nexus-brewery-albuquerque',
  'name': 'Nexus Brewery',
  'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/RVRi4k4gCiEmlMaooWxvOA/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/nexus-brewery-albuquerque?adjust_creative=SYc8R4Gowqru5h4SBKZXsQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SYc8R4Gowqru5h4SBKZXsQ',
  'review_count': 680,
  'categories': [{'alias': 'breweries', 'title': 'Breweries'},
   {'alias': 'soulfood', 'title': 'Soul Food'},
   {'alias': 'southern', 'title': 'Southern'}],
  'rating': 4.0,
  'coordinates': {'latitude': 35.13372, 'longitude': -106.606624},
  'transactions': [],
  'price': '$$',
  'location': {'address1': '4730 Pan American E Fwy NE',
   'address2': 'Ste D',
   'address3': '',
   'city': 'Albuquerque',
   'zip_code': '87109',
   'country': 'US',
   'state': 'NM',
   'display_address': ['4730 Pan American E Fwy NE',
    'Ste D',
    'Albuquerque, NM 87109']},
  'phone': '+15052424100',
  'display_phone': '(505) 242-4100',
  'distance': 2045.729083083992},
 {'id': 'devons-pop-smoke-albuquerque',
  'name': "Devon's Pop Smoke",
  'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/OfmCIETYvaZ7dYBC3lidvg/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/devons-pop-smoke-albuquerque?adjust_creative=SYc8R4Gowqru5h4SBKZXsQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SYc8R4Gowqru5h4SBKZXsQ',
  'review_count': 54,
  'categories': [{'alias': 'gastropubs', 'title': 'Gastropubs'}],
  'rating': 4.0,
  'coordinates': {'latitude': 35.1450414451006, 'longitude': -106.58143222332},
  'transactions': [],
  'price': '$$',
  'location': {'address1': '6001 Osuna Rd NE',
   'address2': '',
   'address3': None,
   'city': 'Albuquerque',
   'zip_code': '87109',
   'country': 'US',
   'state': 'NM',
   'display_address': ['6001 Osuna Rd NE', 'Albuquerque, NM 87109']},
  'phone': '+15055082829',
  'display_phone': '(505) 508-2829',
  'distance': 3977.603085912232},
 {'id': 'cocina-azul-albuquerque-2',
  'name': 'Cocina Azul',
  'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/nYOAd4cMbQH1sm3eB-NL5A/o.jpg',
  'is_closed': True,
  'url': 'https://www.yelp.com/biz/cocina-azul-albuquerque-2?adjust_creative=SYc8R4Gowqru5h4SBKZXsQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SYc8R4Gowqru5h4SBKZXsQ',
  'review_count': 647,
  'categories': [{'alias': 'newmexican', 'title': 'New Mexican Cuisine'}],
  'rating': 4.5,
  'coordinates': {'latitude': 35.095403, 'longitude': -106.658516},
  'transactions': ['pickup', 'delivery'],
  'price': '$$',
  'location': {'address1': '1134 Mountain Rd NW',
   'address2': None,
   'address3': '',
   'city': 'Albuquerque',
   'zip_code': '87102',
   'country': 'US',
   'state': 'NM',
   'display_address': ['1134 Mountain Rd NW', 'Albuquerque, NM 87102']},
  'phone': '+15058312500',
  'display_phone': '(505) 831-2500',
  'distance': 5283.005357137309},
 {'id': 'philly-steaks-albuquerque',
  'name': 'Philly Steaks',
  'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/jtI7kcSBifi9Qs8IK8EvCg/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/philly-steaks-albuquerque?adjust_creative=SYc8R4Gowqru5h4SBKZXsQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SYc8R4Gowqru5h4SBKZXsQ',
  'review_count': 25,
  'categories': [{'alias': 'cheesesteaks', 'title': 'Cheesesteaks'},
   {'alias': 'sandwiches', 'title': 'Sandwiches'},
   {'alias': 'burgers', 'title': 'Burgers'}],
  'rating': 4.5,
  'coordinates': {'latitude': 35.1123000013551,
   'longitude': -106.515109911561},
  'transactions': [],
  'price': '$$',
  'location': {'address1': '2520 Juan Tabo NE',
   'address2': 'Ste C',
   'address3': None,
   'city': 'Albuquerque',
   'zip_code': '87112',
   'country': 'US',
   'state': 'NM',
   'display_address': ['2520 Juan Tabo NE', 'Ste C', 'Albuquerque, NM 87112']},
  'phone': '+15055822527',
  'display_phone': '(505) 582-2527',
  'distance': 8255.770353006516},
 {'id': 'stripes-biscuit-albuquerque',
  'name': 'Stripes Biscuit',
  'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/UPxZj-wPyXvUa-5NO8MGEA/o.jpg',
  'is_closed': True,
  'url': 'https://www.yelp.com/biz/stripes-biscuit-albuquerque?adjust_creative=SYc8R4Gowqru5h4SBKZXsQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SYc8R4Gowqru5h4SBKZXsQ',
  'review_count': 20,
  'categories': [{'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'},
   {'alias': 'newmexican', 'title': 'New Mexican Cuisine'}],
  'rating': 4.5,
  'coordinates': {'latitude': 35.0564674514096,
   'longitude': -106.579337431337},
  'transactions': [],
  'price': '$$',
  'location': {'address1': '5701 Gibson Blvd SE',
   'address2': '',
   'address3': None,
   'city': 'Albuquerque',
   'zip_code': '87108',
   'country': 'US',
   'state': 'NM',
   'display_address': ['5701 Gibson Blvd SE', 'Albuquerque, NM 87108']},
  'phone': '+15058594298',
  'display_phone': '(505) 859-4298',
  'distance': 6974.481854588378}]

In [5]:
restaurants = list(map(lambda restaurant: dict(name=restaurant['name'], 
                                           price=restaurant['price'], 
                                           is_closed=restaurant['is_closed'],
                                           review_count=restaurant['review_count'],
                                          ), yelp_restaurants))

We now have a list of restaurants from the Yelp Api.  Let's take a look at the list.

In [6]:
restaurants

[{'name': 'Fork & Fig',
  'price': '$$',
  'is_closed': False,
  'review_count': 610},
 {'name': 'Salt And Board',
  'price': '$$',
  'is_closed': False,
  'review_count': 11},
 {'name': 'Frontier Restaurant',
  'price': '$',
  'is_closed': False,
  'review_count': 1373},
 {'name': 'Nexus Brewery',
  'price': '$$',
  'is_closed': False,
  'review_count': 680},
 {'name': "Devon's Pop Smoke",
  'price': '$$',
  'is_closed': False,
  'review_count': 54},
 {'name': 'Cocina Azul',
  'price': '$$',
  'is_closed': True,
  'review_count': 647},
 {'name': 'Philly Steaks',
  'price': '$$',
  'is_closed': False,
  'review_count': 25},
 {'name': 'Stripes Biscuit',
  'price': '$$',
  'is_closed': True,
  'review_count': 20}]

### Using map

As you can see, it's a little tricky to see the names of all of the restaurants due to amount of data. Let's create a new list `names` to contain only the names of all the restaurants from the list above. Use the `map` and `lambda` functions, along with your understanding of a dictionary's structure to do so.

In [12]:
names = list(map(lambda name: name['name'], restaurants))
names
# ['Fork & Fig',
#  'Salt And Board',
#  'Frontier Restaurant',
#  'Nexus Brewery',
#  "Devon's Pop Smoke",
#  'Cocina Azul',
#  'Philly Steaks',
#  'Stripes Biscuit']

['Fork & Fig',
 'Salt And Board',
 'Frontier Restaurant',
 'Nexus Brewery',
 "Devon's Pop Smoke",
 'Cocina Azul',
 'Philly Steaks',
 'Stripes Biscuit']

This worked well. Now let's get a sense of how many reviews were written for each of these restaurants. Just like above, create a new list `review_counts` to only contain the values of `review_count` for each restaurant.

In [13]:
review_counts = list(map(lambda reviews: reviews['review_count'], restaurants))
review_counts # [610, 11, 1373, 680, 54, 647, 25, 20]

[610, 11, 1373, 680, 54, 647, 25, 20]

Let's say we want to get a sense of total number of reviews in the whole dataset. We can add up the elements in `review_counts` list, and assign the result to a variable named `total_reviews`.

In [14]:
total_reviews = sum(review_counts)
total_reviews # 3420

3420

It's a little tricky to work with the price in the format of dollars signs i.e. \$ and \$$ based on how expensive the restaurant is.  

So write a function called `format_restaurants` that changes each restaurant to have the attribute `'price'` point to the number of dollar signs (i.e. 1 for \$ and 2 for \$$).  We'll get you started with the function, `format_restaurant`.

In [15]:
def format_restaurant(restaurant):
    if type(restaurant['price']) == str:
        restaurant['price'] = len(restaurant['price'])
    return restaurant

In [16]:
format_restaurant(restaurants[0]) # {'name': 'Fork & Fig', 'price': 2, 'is_closed': False, 'review_count': 610}

{'name': 'Fork & Fig', 'price': 2, 'is_closed': False, 'review_count': 610}

Now write another function called `map_format_restaurants` using `map`, that uses above function and returns a list of restaurants with each of them formatted with price pointing to the respective number.

In [20]:
def map_format_restaurants(restaurants):
    reformated_list = list(map(format_restaurant, restaurants))
    return reformated_list

In [21]:
map_format_restaurants(restaurants)

#[{'name': 'Fork & Fig', 'price': 2, 'is_closed': False, 'review_count': 610},
# {'name': 'Salt And Board',
#  'price': 2,
#  'is_closed': False,
#  'review_count': 11},
# {'name': 'Frontier Restaurant',
#  'price': 1,
#  'is_closed': False,
#  'review_count': 1373},
# {'name': 'Nexus Brewery',
#  'price': 2,
#  'is_closed': False,
#  'review_count': 680},
# {'name': "Devon's Pop Smoke",
#  'price': 2,
#  'is_closed': False,
#  'review_count': 54},
# {'name': 'Cocina Azul', 'price': 2, 'is_closed': True, 'review_count': 647},
# {'name': 'Philly Steaks', 'price': 2, 'is_closed': False, 'review_count': 25},
# {'name': 'Stripes Biscuit',
#  'price': 2,
#  'is_closed': True,
#  'review_count': 20}]

[{'name': 'Fork & Fig', 'price': 2, 'is_closed': False, 'review_count': 610},
 {'name': 'Salt And Board',
  'price': 2,
  'is_closed': False,
  'review_count': 11},
 {'name': 'Frontier Restaurant',
  'price': 1,
  'is_closed': False,
  'review_count': 1373},
 {'name': 'Nexus Brewery',
  'price': 2,
  'is_closed': False,
  'review_count': 680},
 {'name': "Devon's Pop Smoke",
  'price': 2,
  'is_closed': False,
  'review_count': 54},
 {'name': 'Cocina Azul', 'price': 2, 'is_closed': True, 'review_count': 647},
 {'name': 'Philly Steaks', 'price': 2, 'is_closed': False, 'review_count': 25},
 {'name': 'Stripes Biscuit',
  'price': 2,
  'is_closed': True,
  'review_count': 20}]

### Filter

Now let's use `filter` to search for restaurants based on specific criteria.  

Write a function called `open_restaurants` using `filter` and `lambda` that takes in a list of restaurants and only returns those that are open. You can use the distionary key `is_closed` to make a decision in your code.

In [26]:
def open_restaurants(restaurants):
    open_rests = list(filter(lambda rest: not rest['is_closed'], restaurants))
    return open_rests

In [27]:
open_restaurants(restaurants)

#[{'name': 'Fork & Fig', 'price': 2, 'is_closed': False, 'review_count': 610},
# {'name': 'Salt And Board',
#  'price': 2,
#  'is_closed': False,
#  'review_count': 11},
# {'name': 'Frontier Restaurant',
#  'price': 1,
#  'is_closed': False,
#  'review_count': 1373},
# {'name': 'Nexus Brewery',
#  'price': 2,
#  'is_closed': False,
#  'review_count': 680},
# {'name': "Devon's Pop Smoke",
#  'price': 2,
#  'is_closed': False,
#  'review_count': 54},
# {'name': 'Philly Steaks', 'price': 2, 'is_closed': False, 'review_count': 25}]

[{'name': 'Fork & Fig', 'price': 2, 'is_closed': False, 'review_count': 610},
 {'name': 'Salt And Board',
  'price': 2,
  'is_closed': False,
  'review_count': 11},
 {'name': 'Frontier Restaurant',
  'price': 1,
  'is_closed': False,
  'review_count': 1373},
 {'name': 'Nexus Brewery',
  'price': 2,
  'is_closed': False,
  'review_count': 680},
 {'name': "Devon's Pop Smoke",
  'price': 2,
  'is_closed': False,
  'review_count': 54},
 {'name': 'Philly Steaks', 'price': 2, 'is_closed': False, 'review_count': 25}]

Let's say we now want to look at restaurants that are comparatively cheaper i.e. \$ or 1 as price. 

Write a function called `cheap_restaurants` using filter, that returns the restaurants that have a price of  1, or '$'.

In [33]:
def cheapest_restaurants(restaurants):
    cheap_rests = list(filter(lambda rest: rest['price'] == 1, restaurants))
    return cheap_rests

In [34]:
cheapest_restaurants(restaurants)

# [{'name': 'Frontier Restaurant',
#  'price': 1,
#  'is_closed': False,
#  'review_count': 1373}]

[{'name': 'Frontier Restaurant',
  'price': 1,
  'is_closed': False,
  'review_count': 1373}]

So we have only one restaurant in the data that meets the given criteria. Next, we shall write a function that filters out only those restaurants that 100 reviews or more, since we want to make sure there is some solid data points backing the reviews -- we are burgeoning data scientists after all!

In [ ]:
def sufficiently_reviewed_restaurants(restaurants):
    pass

In [ ]:
sufficiently_reviewed_restaurants(restaurants)

# [{'name': 'Fork & Fig', 'price': 2, 'is_closed': False, 'review_count': 610},
# {'name': 'Frontier Restaurant',
#  'price': 1,
#  'is_closed': False,
#  'review_count': 1373},
# {'name': 'Nexus Brewery',
#  'price': 2,
#  'is_closed': False,
#  'review_count': 680},
# {'name': 'Cocina Azul', 'price': 2, 'is_closed': True, 'review_count': 647}]

### Summary

Neat! In this lab, we successfully proved our prowess when it comes to iterating over each element of a list with both `map` and `filter`! We also learned about `lambda` functions and how to use them. We used `map` to format our data into ways that better help us answer questions and extrapolate insights. We used `filter` to return subsets of our data like our restaurants that were only one $ or our restaurants that had 100 or more reviews.